body, ul {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left {
    margin-left: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.navbar-middle ul {
    list-style-type: none;
    display: flex;
}

.navbar-middle ul li {
    margin-right: 30px;
}

.navbar-middle ul li a {
    color: black;
    text-decoration: none;
}

.navbar-right {
    margin-right: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    /* margin-right: 80px; */
}

.button:hover {
    background-color: #363636;
}

.navbar-middle ul li a:hover {
    text-decoration: underline;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80vh; 
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: white;
}

.content h1 {
    font-size: 4rem;
}

.content p {
    font-size: 2rem;
}

.search-form {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    z-index: 2;
    width: 50%;
    /* height: 20%; */
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 101%;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.options input[type="date"],
.options select,
.options input[type="number"] {
    width: 170px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
}

button {
    background-color:#444444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #363636;
}


.header {
    text-align: center;
    padding: 20px;
    background-color: #e6e6e6;
}

h1, h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.panels {
    display: flex;
    justify-content: space-between;
}

.panel {
    flex-basis: calc(33.33% - 20px); 
    padding: 10px;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.panel i {
    font-size: 36px;
    margin-bottom: 10px;
}

.slideshow-container {
    background-color: #004369;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slideshow-container h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.slideshow {
    display: flex;
    overflow: hidden;
    margin: 10px; 
}

.slideshow .slide {
    margin-right: 25px; 
}

.slideshow img {
    width: 200px; 
    height: auto; 
    object-fit: cover;
}

.resize {
    width: 200px !important; 
    height: auto !important;
}

.slide {
    width: 200px;
    transition: transform 1s ease-in-out;
}

.slide h2 {
    text-align: center;
    color: white;
    margin: 10px 0;
}

.slideshow img {
    width: 200px; 
    height: auto; 
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    cursor: pointer; 
}

.slideshow img:hover {
    transform: scale(1.1); 
    opacity: 0.7; 
}


.Hostel-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

button {
    background-color:white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border: 2px solid #363636;
    padding: 10px 20px; 
}

button:hover {
    background-color: whitesmoke;
}

.pannel-container {
    display: flex;
    justify-content: space-between;
}



#myDiv {
    margin-top: 25vh;
    text-align: center;
  }

  
  .pannel-container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px; 
    margin-top: 5vh;
  }
  
  .pannel {
    width: 23%;
    padding: 0; 
    text-align: center;
  }
  
  .pannel img {
    width: 100%; 
    height: auto;
    display: block; 
    margin: 0; 
    border: 0; 
    border-radius: 10px 10px 0 0;
  }

  .pannel h2 {
    text-align: left; 
    font-size: 22px; 
    margin: 10px 10px 0 10px; 
  }

  .pannel p {
    font-size: 14px; 
    margin: 10px; 
    text-align: left; 
  }

  .rating {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    margin-left: 12px;
  }
  
  .rating-number {
    font-size: 16px; 
    margin-right: 5px; 
  }
  
  .stars {
    font-size: 24px; 
  }

  button {
    margin-top: 10px; 
    border: 1px solid #808080;
  }

  #myyDiv {
    margin-top: 20px;
  }

  .background-div {
    width: 100%; 
    height: 300px; 
    background-image: url('assets/background img.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    margin-top: 30px;
  }
  
  .container {
    position: absolute;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 20px;
    box-sizing: border-box; 
  }

  .container h1 {
    font-size: 40px; 
    margin-bottom: 10px; 
  }
  
  .container h2 {
    font-size: 16px; 
    margin-top: 10px; 
  }

  
  .container button {
    padding: 10px 20px; 
    margin-top: 20px; 
    background-color: thistle; 
    color: black; /* Set button text color */
    border: none; /* Remove button border */
    border-radius: 10px; /* Add border radius to button */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Add a smooth background color transition on hover */
    max-width: 27%;
  }
  
  .container button:hover {
    background-color: white; /* Change background color on hover */
  }
  
  .container input[type="text"] {
    width: 30%; /* Make the input field width 100% of the container */
    padding: 15px; /* Add padding to the input field */
    margin-top: 20px; /* Add margin above the input field */
    border: none; /* Remove input border */
    border-radius: 20px; /* Add border radius to input */
    outline: none; /* Remove input outline */
  }

  /* Normal state styles for the login link */
.container h2 .login-link {
    color: white; /* Set the link color */
    text-decoration: none; /* Remove the underline by default */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
  }
  
  /* Hover state styles for the login link */
  .container h2 .login-link:hover {
    color: thistle; /* Change the link color on hover */
  }



footer{
    margin-top: 1px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel2{
    background-color: #232f3e;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover {
    color: #ffffff; /* Change the text color on hover */
}